<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>
            Xinglai Pang IST 263 Project
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-container">
                <ul class="nav-links">
                    <li><a href="./">Home</a></li>
                    <li><a href="./about">About us</a></li>
                    <li><a href="./lab">Lab</a></li>
                </ul>
            </div>
        </nav>
        <!-- Main Container -->
        <div class="about-container">
            <!-- Primary Module -->
            <section class="main-about">
                <h1>About SimbaChain</h1>
                <p>This is Lab 3 for IST 408/608 Blockchain Management Course! This lab picturing a imaginary decentralized Labary management system, students will be using SimbaChain API to complete their first decentralized app.</p>
                <div class="buttons">
                    <button class="btn-primary" onclick="location.href='{{ url_for('lab') }}'">Get Started →</button>
                </div>
            </section>

            <!-- Other container -->
            <div class="about-sections">
                <!-- mod 1 -->
                <section class="about-card">
                    <div class="image">
                        <img src="{{ url_for('static', filename='SIMBA_512x512.png') }}" alt="SimbaChain Logo">
                    </div>
                    <div class="content">
                        <h2>About IST 408/608</h2>
                        <p>Transfer error-free and tamperproof data using any system, with any party – fast. SIMBA’s Platform provides trusted seamless data exchange for identity management, multi-vendor data sharing, and third party data verification.</p>
                    </div>
                </section>

                <!-- mod 2 -->
                <section class="about-card">
                    <div class="image">
                        <img src="{{ url_for('static', filename='CFW07448.jpg') }}" alt="Xinglai Pang Portrait">
                    </div>
                    <div class="content">
                        <h2>Xinglai Pang</h2>
                        <p>Xinglai Pang, class of 2024, iSchool Major IM&T, concentration Cybersecurity, dedicated learner within IT, committed to exploring innovative technology solutions and continuous growth.</p>
                    </div>
                </section>

                <!-- mod 3 -->
                <section class="about-card">
                    <div class="image">
                        <img src="{{ url_for('static', filename='lee_mcknight.jpg') }}" alt="Lee McKnight Portrait">
                    </div>
                    <div class="content">
                        <h2>Lee McKnight</h2>
                        <p>Lee W. McKnight, Associate Professor at Syracuse University, is a pioneer in blockchain, cloud, and wireless grid technologies, focusing on edge services, Internet governance, and global information policy.</p>
                    </div>
                </section>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-container">
                <p>Created by Xinglai Pang © 2024</p>
                <div class="social-links">
                    <a href="https://github.com/ulifitsup" target="_blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/xinglai-pang-ul0110901/" target="_blank">LinkedIn</a>
                </div>
            </div>
        </footer>
    </body>
</html>