<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>
            Xinglai Pang IST 263 Project
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-container">
                <ul class="nav-links">
                    <li><a href="./">Home</a></li>
                    <li><a href="./about">About us</a></li>
                    <li><a href="./lab">Lab</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="content">
                <h1>SimbaChain Lab 3</h1>
                <p>This is Lab 3 for IST 408/608 Blockchain Management Course! This lab picturing a imaginary decentralized Labary management system, students will be using SimbaChain API to complete their first decentralized app.</p>
                <div class="buttons">
                    <button class="btn-primary" onclick="location.href='{{ url_for('lab') }}'">Get Started →</button>
                    <button class="btn-secondary" onclick="location.href='{{ url_for('about') }}'">Learn more</button>
                </div>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='SIMBA_512x512.png') }}" alt="Placeholder image">
            </div>
        </div>
    </body>
    <footer class="footer">
        <div class="footer-container">
            <p>Created by Xinglai Pang © 2024</p>
            <div class="social-links">
                <a href="https://github.com/ulifitsup" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/xinglai-pang-ul0110901/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </footer>
</html>